# ==========================================
# Docker Configuration
# ==========================================
# User ID and Group ID mapping for file permissions on Linux
# Run `id -u` and `id -g` to find your values.
HOST_UID=1000
HOST_GID=1000

# Security configuration for gh cli
PARANOID_MODE=true

# Authentication
GITHUB_TOKEN=add-a-github-api-token-here-if-you-will-allow-pi-to-use-gh-cli

# Git identity
GIT_NAME=Your Name for Git Commits
GIT_EMAIL=your-name@your-email-address.local

# Commit Signing
GIT_GPG_KEY=your-personal-gpg-key-for-commit-signing
GIT_GPG_SIGN=false
